@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

@theme {
    --font-roboto: "Roboto", sans-serif;
}

:root {
    font-family: var(--font-roboto);
}